nav {
    position: fixed;
    z-index: 1100;
}
    /* aside menu css*/
    .MenuSideOpen {
        position: fixed;
        z-index: 600;
        top: 8%;
        left: 0;
        padding: 15px 0 0 0;
        display: block;
        width: 60vw;
        height: 100vh;
        background-color: var(--colorBlack);
        transition: transform 0.3s ease;
        transform: translateX(0);
        border-right: 1px solid black;
      }
      
      .MenuSideClosed {
        position: fixed;
        z-index: 600;
        top: 8%;
        left: 0; 
        padding: 15px 0 0 0;
        width: 60vw;
        height: 100vh;
        background-color: var(--colorBlack);
        transition: transform 0.3s ease; 
        transform: translateX(-100%);
      }
.navbarSection {
    width: 100%;
    height: max-content;
    background-color: #000000;
}

.nav-listUl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding: 0px 30px;
    box-sizing: border-box;
}

.nav-listUl li {
    list-style: none;
    padding: 10px 0px;

}

.mainLogoGif {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-left: 25px;
}

.mainLogoGif img {
    height: 40px;
}


.NavigationList a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.NavigationList a:hover {
    color: #ffa200;
}

.nav-listUl li:first-child {
    position: absolute;
    left: 0;
    justify-content: flex-start;
}

.MinuIcon {
    display: none;
}


  

.MenuSideOpen .mainLogo img {
    width: 250px;
    height: 50px;
}

.nav-listAside li {
    margin-bottom: 15px;
    list-style: none;
    padding: 4px 0px 4px 25px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
}

.nav-listAside li:hover {
    background-color: rgba(0, 0, 0, 0.911);
}

.nav-listAside li a {
    font-size: 1.3rem;
}
.MenuIcon{
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        position: fixed;
    }

    .nav-listUl {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;
        padding: 15px 0px;
        box-sizing: border-box;
    }

    .nav-listUl li:not(:first-child) {
        display: none;

    }

    .MenuIcon,.CloseIcon {
        display: block;
        padding: 2px 12px;
        margin-right: 25px;
        font-weight: 900;
        color: var(--colorBlack);
        font-size: 20px;
        border-style: none;
        border-radius: 4px;
        background-color: var(--colorStrongBlue);

    }

   
}