.maincontainerResume{
    width: 85vw;
    margin:20px auto;
    border-radius: 15px;
    display: flex;
}
.sideNavBar{
    position: relative;
    left: 0;
    top: 11%;
    width: 20%;
    height: 80vh;
    border-radius: 15px;
    background-color: var(--colorBlue);
}
.displayContent{
    position: relative;
    width: 77%;
    margin: auto;
    height: 80vh;
    border-radius: 15px;
    background-color: var(--colorBlue);
}
.profileImage img{
    width: 85%;
    margin: auto;
    border-radius: 15px;
    position: relative;
    margin-top: 10px;
    height: 200px;
}
.listItem{
    position: relative;
    width: 100%;
}
.listItem ul{
    margin-top: 30px;
    width: 100%;
}
.listItem ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    text-align: left;
    list-style-type: none;
    padding:6px 30px;
    box-sizing: border-box;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.listItem ul li:hover{
    background-color: var(--colorStrongBlue);
}
.listItemLink{
    position: relative;
    color: var(--colorWhite);
    text-decoration: none;
    padding:5px 100% 8px 10px ;
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
}

.listItem ul li.active {
    background-color: var(--colorStrongBlue);
  }
  
 
  .listItem ul li.active .hoverdot1 {
    width: 25px;
  height: 25px;
  background-color: var(--colorBlue);
  border: 4px solid var(--colorBody);
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  right: -5%;
  }
  .listItem ul li.active .hoverTrangle {
    width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 30px solid var(--colorBlue);
	border-bottom: 20px solid transparent;
    z-index: 10;
  }
  
  .PageRendering{
     padding: 40px;
    
  }