.footerSection{
    display: flex;
    gap: 50px;
    padding: 10px 25px;
    background-color: var(--colorBlack);
    font-size: 18px;
}
.footerSection a{
color: Red;
text-decoration: none;
}
.footerSection a:hoVer{
    color: rgb(255, 136, 0);
    }
    @media screen and (max-width: 768px) {
        .footerSection{
            font-size:12px;
        }
        
    }