.ContactInfoSection{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.containtContact{
    background-color: transparent;
    width: 60%;
    height: max-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.PersionalDetailsection h1{
    font-size: 1.3rem;
    color: var(--colorlightWhite);
}
.OverViewSection{
    width: 30%;
    border-radius: 15px;
    margin: auto;
    height: 350px;
    background-color: var(--colorBody);
}

.persionalInfo{
    position: relative;
    height: max-content;
    padding: 15px 0px;
    background-color: var(--colorBody);
    border-radius:0px 8px 8px 8px;
    box-sizing: border-box;
}
/*cut design css */
.circleCut{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #033044;
}
.insideCircle{
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
}
.circleTop{
    right: -4%;
    border-left: 3px solid yellow;
    top: 28%;
}

.UnListDetail{
    width: 100%;
    padding: 0px 10px;
}
.UnListDetail li{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    display: flex;

}
.UnListDetail li p{
    font-size: 1.3rem;
}
.titleText{
  position: relative;
  width: 25%;
  color: antiquewhite;


}
.listMiddel{
 width: 5%;
}
.listDetail{
 width: 70%;
 color: var(--colorlightWhite);
}


/*socialmedia links css */
.socialIcon{
    position: relative;
    background-color: var(--colorBody);
    border-radius:0px 8px 8px 8px;
}
.socialMedia h1{
    color: var(--colorlightWhite);
    font-size: 1.3rem;
}
.circleleft{
    width: 20px;
    height: 20px;
    left: -2%;
    top: 30%;
    border-right: 3px solid yellow;
    box-sizing: border-box;
}
.circleright{
    right: -2%;
    width: 20px;
    height: 20px;
    top: 30%;
    border-left: 3px solid yellow;
    box-sizing: border-box;
}
.socialIcon a i{
    font-size: 30px;
    color: var(--colorStrongBlue);
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}
.socialIcon a i:hover{
    color: var(--colorWhite);
}
.WebsiteURL{
    margin-top: 30px;

}
.WebsiteURL h1{
    font-size: 1.3rem;
}
.WebsiteInfo{
    position: relative;
    border-radius:0px 8px 8px 8px;
    padding: 10px 20px;
    background-color: var(--colorBody);
}
.WebsiteInfo a{
    text-decoration: none;
    display: flex;
    color: none;
    align-items: center;
    position: relative;
  
}
.WebsiteURL a i:hover{
    color: red;
}
.WebsiteURL a p:hover{
    color: red;
}
.WebsiteURL a i{
    font-size: 25px;
    color: rgb(0, 81, 255);
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
}
.WebsiteURL a p{
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    color: rgb(0, 81, 255);
}

