
.skillsection{
    text-align: left;
    font-size: 35px;
}
.technicalDetail p{
    text-align: justify;
    font-size: 1rem;
    margin-top: 15px;
}
/* navbar.css */
.technicalDetail{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.technicalDetail h1::after {
    content: '';
    display: block;
    width: 10%;
    margin-left: 5px;
    height: 2px;
    background-color: #ffa200;
}

/*skill representastion graphic */
.skillDesingnSection{
   display: flex;
}
.partitationSkill{
    width: 50%;
}
.skillLabel{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.snakeBarIndecater{
    background-color: white;
    width: 80%;
    border-radius: 8px;
    height: 10px;
}